<% if @bathrooms.count == 0 %>
  <div class="container d-flex justify-content-center mt-4">
    <div class="card d-flex align-items-center p-4">
      <p>You do not have any bathrooms listed yet, why not get started now?</p>
      <%= image_tag 'adventure_map.svg', class: "landing-icons" %>
      <%= link_to "List a bathroom", new_bathroom_path, class: "btn btn-med" %>
    </div>
  </div>
<% else %>
  <div class="container">
    <h1 class="d-flex justify-content-center my-4">My Bathrooms</h1>
    <div class="cards">
      <% @bathrooms.each do |bathroom| %>
        <div class="my-bathrooms-card-container">
          <div>
            <%= link_to bathroom_path(bathroom),
            data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
            class: 'delete-icon' do %>
              <%= image_tag "trash.png"%>
            <% end %>
          </div>
          <div>
            <%= link_to edit_bathroom_path(bathroom),
            class: 'edit-icon' do %>
              <%= image_tag "edit.png" %>
            <% end%>
          </div>

          <%= link_to bathroom_path(bathroom) do %>
            <div class="card-trip" >
              <% if bathroom.photo.attached? %>
                <%= cl_image_tag bathroom.photo.key, crop: :fill %>
              <% end %>
              <div class="card-trip-infos">
                <div>
                  <h2><%= bathroom.address %></h2>
                  <p class="card-text"><%= bathroom.description %></p>
                </div>
                <h2 class="card-trip-pricing">$<%= bathroom.price %></h2>
                <% if bathroom.user.photo.attached? %>
                  <%= cl_image_tag bathroom.user.photo.key, class: "card-trip-user avatar-bordered" %>
                <% else %>
                  <img src="https://static.vecteezy.com/system/resources/thumbnails/002/383/145/small/cartoon-illustration-of-toilet-paper-free-vector.jpg" class="card-trip-user avatar-bordered"/>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
