<div class="container">
  <div class=" d-flex justify-content-center m-3">
    <h1>Your Bookings</h1>
  </div>
    <div class="cards">
      <% @bookings.each do |booking| %>
        <div class="card">
          <img class="img-fluid w-100 h-75"<%= cl_image_tag booking.bathroom.photo.key, crop: :fill %>
          <p class="card-text ml-2 mt-2">
            <i class="fa-solid fa-user fa-fw"></i>
            <%= booking.bathroom.host.first_name %> <%= booking.bathroom.host.last_name %>
          </p>
          <p class="card-text ml-2 mt-2"> <i class="fa-solid fa-location-dot fa-fw"></i> <%= booking.bathroom.address %></p>
          <p class=" ml-2 mt-2"> 
            <i class="fa-solid fa-calendar fa-fw"> </i> <%= booking.start_date_time.strftime("%B %d %Y") %>
          </p>
          <%= link_to 'See Details', booking_path(booking), class: 'btn mb-3 btn-med' %>
        </div>
      <% end %>
    </div>
</div>

