<div class="d-flex flex-column align-items-center container">
  <h1 class="py-3">Your Booking</h1>
  <div class="card holder align-self-center responsive">
    <img class="img-fluid w-100"<%= cl_image_tag @booking.bathroom.photo.key, crop: :fill %>
    <div class="p-4">
      <p> <i class="fa-solid fa-calendar-check"></i> <%= @booking.status %></p>
      <p> <i class="fa-solid fa-user"></i> <%= "#{@booking.bathroom.host.first_name} #{@booking.bathroom.host.last_name}" %></p>
      <p> <i class="fa-solid fa-envelope"></i> <%= @booking.bathroom.host.email %></p>
      <p> <i class="fa-solid fa-hourglass-start"></i> <%= @booking.start_date_time.strftime("%B %d %Y %I:%M %p") %></p>
      <p> <i class="fa-solid fa-hourglass-end"></i> <%= @booking.end_date_time.strftime("%B %d %Y %I:%M %p") %></p>
    </div>
  </div>
  <%= link_to bookings_path do %>
    <btn class="btn btn-back mt-4">All your bookings</btn>
  <% end %>
</div>
